@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*ロード画面*/

.loading {
  /*ローディング画面の縦横幅を画面いっぱいになるように指定*/
  width: 100vw;
  height: 100vh;
  /*ローディング画面の表示位置を固定*/
  position: fixed;
  top: 0;
  left: 0;
  background: #36644e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*ローディング画面を0.5秒かけて非表示にする*/
  transition: all 0.2s linear;
  z-index: 214748367;
}

.loading-text {
  font-size: 45px;
  color: rgb(185, 233, 51);
}

/*ローディング画面を非表示にする*/
.loading.loaded {
  /*0.5秒かけてopacityを0にする*/
  opacity: 0;
  visibility: hidden;
}

.spinner {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #52cc30;
  border-left-color: #c0ecc0;
  /* アニメーションを1秒かけて実行 */
  animation: spinner-rotation 0.5s linear infinite;
}

/* アニメーションの設定 */
@keyframes spinner-rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*ここまでローディング画面*/

/*くろまる*/

.cat {
  position: fixed;
  bottom: 50px;
  left: -100px; /* 初期位置を画面外にする */
  width: 100px;
  height: 80px;
}

.ear {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  top: -10px;
}

.ear.left {
  left: 50px;
  transform: rotate(-25deg);
  height: calc(tan(60deg) * 20px / 2);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  animation: walk 0.5s infinite alternate;
}

.ear.right {
  right: -5px;
  transform: rotate(30deg);
  height: calc(tan(60deg) * 20px / 2);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  animation: walk 0.5s infinite alternate;
}

.head {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: 50px;
  top: 0;
}

.eye {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
}

.eye.left {
  left: 10px;
}
.eye.right {
  right: 10px;
}

.nose {
  width: 5px;
  height: 5px;
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 22px;
}

.mouth {
  width: 10px;
  height: 5px;
  border-bottom: 2px solid white;
  position: absolute;
  top: 35px;
  left: 20px;
}

.body {
  width: 60px;
  height: 40px;
  background-color: black;
  position: absolute;
  top: 40px;
  left: 20px;
}

.tail {
  width: 30px;
  height: 10px;
  background-color: black;
  position: absolute;
  right: 60px;
  top: 5px;
  border-radius: 5px;
  transform-origin: right;
  animation: tail-move 1s infinite alternate;
}

@keyframes tail-move {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.leg {
  width: 10px;
  height: 20px;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.front-left {
  top: 30px;
  left: 10px;
  animation: walk 0.5s infinite alternate;
}
.front-right {
  top: 30px;
  left: 40px;
  animation: walk 0.5s infinite alternate-reverse;
}

.back-left {
  top: 30px;
  animation: walk 0.5s infinite alternate-reverse;
}
.back-right {
  top: 30px;
  left: 45px;
  animation: walk 0.5s infinite alternate;
}

@keyframes walk {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}
