@charset "UFT-8";


/*私の事*/

.myself {
  position: absolute;
  top: 5px;
  left: 650px;
  text-align: center;
  font-size: 25px;
  margin: 80px auto;
}

/*自己紹介*/
.portrait {
  grid-area: portrait;
  text-align: left;
  margin-top: 20px;
  margin-left: 150px;
  display: flex;
}

/* 似顔絵 */
.img {
  width: 300px;
  height: 400px;
  position: relative;
  top: 80px;
  left: -30px;
}

/* プロフィール */

.history{
  list-style: none;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 25px;
  width: 750px;
}

/* 経歴 */

.career{
text-align: left;
font-size: 25px;
margin-top: 150px;
margin-left: 150px;
width: 850px;
}

.career h2{
  margin: 10px;
}

.career li{
  list-style: none;
}
