@charset "UTF-8";



/*制作品*/

.work {
  position: absolute;
  top: 0;
  left: 100px;
}

/*作品が出来次第差し替え*/
.CL {
  width: 800px;
  height: 500px;
  background-color: rgba(0, 139, 139, 0.1);
  margin: 50px;
  padding: 50px;
}
